<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sssj.persistence.RealtimeDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sssj.domain.RealtimeData">
        <id column="id" property="id" />
        <result column="seq_id" property="seqId" />
        <result column="name" property="name" />
        <result column="time" property="time" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seq_id, name, time, value
    </sql>

</mapper>
